.App {
  text-align: center;
}

/* Basic Button Styles */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #fff;
  background-color: #3498db;
  transition: background-color 0.3s;
}

/* Hover Effect */
button:hover {
  background-color: #2980b9;
}
.App-logo {
  /* height: 80px; */
  width: 20vw;
}

.App-header {
  background-color: #222;
  height: 100vh;
    /* padding: 20px; */
  color: white;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.child-button {
  margin: 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
